{extend name="common/base" /}
{block	name="main"}
<div class="col-lg-6 col-sm-6 col-xs-12">
                                    <div class="widget flat">
                                        <div class="widget-header">
                                            <span class="widget-caption">概览</span>
                                            <div class="widget-buttons">
                                                <a href="#" data-toggle="collapse">
                                                    <i class="fa fa-minus red"></i>
                                                </a>
                                            </div><!--Widget Buttons-->
                                        </div><!--Widget Header-->
                                        <div class="widget-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div><!--Widget Body-->
                                    </div><!--Widget-->
                                </div>
{/block} 