{extend name="common/base" /}
{block name="page-body"}
<!-- <h1>这里是pagebody</h1> -->
<div class="row">
  <div class="col-xs-12">
    <div id="welcome-panel" class="welcome-panel bg-white">
      <div class="welcome-panel-content">
        <p>目前有 <em>52</em> 篇文章, 并有 <em>1</em> 条关于你的评论在 <em>6</em> 个分类中.</p>
        <p class="about-description">点击下面的链接快速开始:</p>
          <div class="fontawesome-icon-list">
            <div class="fa-hover col-md-3">
               <a href=""><i class="fa fa-file-text"></i>添加新文章</a> 
            </div>
            <div class="fa-hover col-md-3">
               <a href=""><i class="fa fa-file"></i>添加新页面</a> 
            </div>
            <div class="fa-hover col-md-3">
               <a href=""><i class="fa fa-file"></i>系统设置</a> 
            </div>
            <div class="fa-hover col-md-3">
               <a href=""><i class="fa fa-desktop"></i>访问您的站点</a> 
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-sm-4 col-xs-12">
    <div class="widget radius-bordered">
      <div class="widget-header">
        <span class="widget-caption">最近发布的文章</span>
        <div class="widget-buttons">
          <a href="" data-toggle="collapse"><i class="fa fa-minus danger"></i></a>
        </div>
      </div>
      <div class="widget-body">
        <section class="latest-link">
          <ul>
            <li><span>7.5</span><a href="">这里是测试用的列表fdsfd</a></li>
            <li><span>7.5</span><a href="">这里是测试用的列表辅导书的</a></li>
            <li><span>7.5</span><a href="">这里是测试用的列表333</a></li>
            <li><span>7.5</span><a href="">这里是测试用的</a></li>
            <li><span>7.5</span><a href="">这里是测试用的列表</a></li>
            <li><span>7.5</span><a href="">这里是测试用的列表fdsfd</a></li>
            <li><span>7.5</span><a href="">这里是测试用的列表辅导书的</a></li>
            <li><span>7.5</span><a href="">这里是测试用的列表333</a></li>
            <li><span>7.5</span><a href="">这里是测试用的</a></li>
            <li><span>7.5</span><a href="">这里是测试用的列表</a></li>
          </ul>         
        </section>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-4 col-xs-12">
    <div class="widget radius-bordered">
      <div class="widget-header">
        <span class="widget-caption">最近得到的回复</span>
        <div class="widget-buttons">
          <a href="" data-toggle="collapse"><i class="fa fa-minus danger"></i></a>
        </div>
      </div>
      <div class="widget-body">
        <section class="latest-link">
          <ul>
            <li><span>7.5</span><a href="">这里是测试用的列表fdsfd</a></li>
            <li><span>7.5</span><a href="">这里是测试用的列表辅导书的</a></li>
            <li><span>7.5</span><a href="">这里是测试用的列表333</a></li>
            <li><span>7.5</span><a href="">这里是测试用的</a></li>
            <li><span>7.5</span><a href="">这里是测试用的列表</a></li>
          </ul>         
        </section>
      </div>
    </div>    
  </div>
  <div class="col-lg-4 col-sm-4 col-xs-12">
    <div class="widget radius-bordered">
      <div class="widget-header">
        <span class="widget-caption">版本日志</span>
        <div class="widget-buttons">
          <a href="" data-toggle="collapse"><i class="fa fa-minus danger"></i></a>
        </div>
      </div>
      <div class="widget-body">
        <section class="latest-link">
          <ul>
            <li><span>12.14</span><a href="">XFblog 1.0修正版发布</a></li>
            <li><span>9.15</span><a href="">XFblog 0.9正式版发布</a></li>
            <li><span>3.25</span><a href="">XFblog 0.8正式版发布</a></li>
          </ul>         
        </section>
      </div>
    </div>    
  </div>
</div>
{/block}